@use "../util" as u;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

body {
  font-family: "Libre Franklin", system-ui, -apple-system, sans-serif;
  font-size: u.rem(20);
}

html,
body {
  height: 100%;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}
